#logo{

   
    background:color($colors,dark);

    margin: 13px 20px 32px 5px;
   
}

#pagecolor{
padding: auto;
margin: auto;
scroll-behavior: auto;
    background:color($colors,dark);
    color:color($colors,light);
}