<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-searchbar
    [(ngModel)]="searchKeyword"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onCancel($event)"
    (keyup.enter)="search (searchKeyword,$event)">
  </ion-searchbar>

  <ion-card *ngFor="let post of posts"  no-padding>
    <ion-card-content >
        

      <ion-card-title  [innerHTML]="post.title.rendered" class="title"></ion-card-title>
      <!-- <p [innerHTML]="post.excerpt.rendered"></p> -->
    </ion-card-content>
    
    <ion-row no-padding>
       <ion-col>
         <button ion-button clear small color="primary" icon-start>
            {{post.date_gmt.split('T')[0]}}
         </button>
       </ion-col>
       <ion-col text-right>
         <button ion-button small color="primary" (click)="postTapped($event, post)" icon-start>
            Read More
         </button>
       </ion-col>
     </ion-row>
  </ion-card>

  <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>