<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  
    <ion-title>Home</ion-title>
    <ion-buttons *ngIf="isLoggedIn" end class="exit">
        <button ion-button icon-only (click)="logOut()">
          <ion-icon ios="ios-exit" md="md-exit" class="toolbar-icon" name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

 

  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Filter Items" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card>

        <ion-slides autoplay="3000" pager-input="true" pager no-padding class="banner">
                <ion-slide>
                  <img src="http://via.placeholder.com/350x150"/>
                </ion-slide>
                <ion-slide>
                        <img src="http://via.placeholder.com/350x150"/>
                </ion-slide>
                <ion-slide>
                        <img src="http://via.placeholder.com/350x150"/>
                </ion-slide>
              </ion-slides>
            </ion-card>
   

  <ion-card *ngFor="let post of posts"  no-padding>
    <ion-card-content >
        

      <ion-card-title  [innerHTML]="post.title.rendered" class="title"></ion-card-title>
      <!-- <p [innerHTML]="post.excerpt.rendered"></p> -->
    </ion-card-content>
    
    <ion-row no-padding>
       <ion-col>
         <button ion-button clear small color="primary" icon-start>
            {{post.date_gmt.split('T')[0]}}
         </button>
       </ion-col>
       <ion-col text-right>
         <button ion-button small color="primary" (click)="postTapped($event, post)" icon-start>
            Read More
         </button>
       </ion-col>
     </ion-row>
  </ion-card>

  <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
 </ion-infinite-scroll>
<!-- 
 <ion-navbar *navbar calm>
  <ion-title>Corp Contacts</ion-title>
  </ion-navbar>
  
  <ion-content padding class="corp-contacts">
      <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)" (cancel)="onCancelSearchbar($event)" (clear)="onClearSearchbar($event)"></ion-searchbar>
      <br>
      <ion-list>
          <ion-card *ngFor="#item of corp">
              <ion-card-header>
                  <b>{{ item.name}}</b><br>{{ item.position}}
              </ion-card-header>
  
              <ion-card-content>
                  <a href="tel:{{item.cell}}"><button large outline><ion-icon name="ios-phone-portrait"></ion-icon></button></a>
  
                  <a href="tel:{{item.phone}}"><button large outline><ion-icon name="ios-call"></ion-icon></button></a>
  
                  <a href="sms:{{item.sms}}"><button large outline><ion-icon name="ios-chatbubbles"></ion-icon></button></a>
  
                  <a href="mailto:{{item.email}}"><button large outline><ion-icon name="ios-mail"></ion-icon></button></a>
              </ion-card-content>
          </ion-card>
      </ion-list>
  </ion-content> -->


  <!-- import {Page, NavController, Storage, SqlStorage} from 'ionic-angular';

@Page({
  templateUrl: 'build/pages/contactMain/corp-contacts/corp-contacts.html',
})
export class CorpContacts {
    nav;
    corp;
    storage;
    searchQuery;
    corpResults;

    constructor(nav: NavController) {
        this.nav = nav;
        this.storage = new Storage(SqlStorage, {name: 'app_data'});
        this.getCorpContacts
        this.corp = [];
        this.searchQuery = '';
        this.getCorpContacts();
    }

    getCorpContacts() {
        this.storage.get("corpContact").then((value) => {
        this.corpResults = JSON.parse(value);
        this.corp = this.corpResults;
        })
    }

    getCorp() {
        this.corp = this.corpResults;
    }

    getItems(searchbar) {
        this.getCorp();

        var q = searchbar.value;

        if (q.trim() == '') {
            return;
        }

        this.corp = this.corp.filter((v) => {

            if (v.name.toLowerCase().indexOf(q.toLowerCase()) > -1) {
                return true;
            }

            return false;
        })
    }

    onCancelSearchbar(searchbar) {
        this.getCorp();
    }

    onClearSearchbar(searchbar) {
        this.getCorp();
    }
} -->



 
</ion-content>