<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  
    <ion-title>Home</ion-title>
    <ion-buttons *ngIf="isLoggedIn" end class="exit">
        <button ion-button icon-only (click)="logOut()">
          <ion-icon ios="ios-exit" md="md-exit" class="toolbar-icon" name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

 

  <ion-toolbar no-border-top>
    <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-content >
    <ion-card class="banner">

        <ion-slides autoplay="3000"  [options]="{pager: true}" [options]="{loop: true}" pager class="banner">
                <ion-slide  *ngFor="let number of [1,2,3,4]">
                
                  <img src="assets/banner/{{number}}.jpg"/>
                  <!-- <h2>India's First Hematology Blogging platform</h2> -->
               
                </ion-slide>
            
              </ion-slides>
            </ion-card>
   

  <ion-card *ngFor="let item of items"  no-padding>
    <ion-card-content >
           

      <ion-card-title  [innerHTML]="item.title.rendered" class="title"></ion-card-title>
     <ion-item text-wrap> <p  class="ellipsis"  [innerHTML]="item.excerpt.rendered"></p></ion-item>
     
    </ion-card-content>
    
    <ion-row no-padding>
       <ion-col>
         <button ion-button clear small color="primary" icon-start>
            {{item.date_gmt.split('T')[0]}}
         </button>
       </ion-col>
       <ion-col text-right>
         <button ion-button small color="primary" (click)="postTapped($event, item)" icon-start>
            Read More
         </button>
       </ion-col>
     </ion-row>
  </ion-card>

  <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content
      loadingSpinner="Crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
 </ion-infinite-scroll>


</ion-content>